.wrap {

    overflow: hidden;
    min-width: 600px;
    width: 80%;
    margin: auto;
    background: #adff2f;
}

.content, aside {
    height: 600px;
}

.content {
    width: 80%;
    background: red;
    float: left;
}

aside {
    background: #a52a2a;
    float: left;
    width: 20%;
}

aside ul {
    list-style: none;
    padding-left: 0;
}